[flake8]
ignore = E203
max-line-length = 80
docstring-convention = google
style = google
allow-init-docstring = True
check-class-attributes = False
arg-type-hints-in-docstring = False
check-return-types = False
check-yield-types = False
